.flip-card {
  position: relative;
  background-color: transparent;
  width: 218px;
  height: 322px;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
}

img {
  width: 218px;
  height: 322px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
  box-shadow: 0 4px 20px rgba(0, 0, 0, .2);
}

.movie-top-left-info {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 1;
}

.icon {
  width: 32px;
  height: 32px;
  font-size: 11px;
  text-align: center;
  color: #000;
  line-height: 32px;
  background: rgba(236, 246, 245, 0.8);
  border-radius: 5px;
  margin-bottom: 5px;
}

.film-name {
  font-size: 20px;
  margin-top: 3rem;
}

.like-icon-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.like-icon {
  }
