.header {
  background: #2aabe1;
  height: 60px;
  width: 100%;
  color: #ffffff;
}

ul {
  list-style-type: none;
}
.nav-list {
  display: flex;
}

.free-seat-icon {
  width: 15px;
  height: 15px;
  display: inline-block;
  border-radius: 5px;
  background: #3cb4e7;
  text-align: center;
  cursor: pointer;
}

.seat-wrapper {
  width: 15px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.free-seat-icon:hover {
  background: yellow;
}

.container {
  display: grid;
  width: 500px;
}

