.header {
  background: #2aabe1;
  height: 60px;
  width: 100%;
  color: #ffffff;
}

nav {
  height: inherit;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;

}

.nav-list {
  display: flex;
  margin: 0;
}

.nav-list__item {
  font-size: 30px;
  color: rgba(255, 255, 255, 0.7);
  font-weight: 500;
  text-decoration: none;
  margin-right: 2rem;
}

.active {
  color: rgba(255, 255, 255, 1);
}

.cursor-pointer {
  cursor: pointer;
  margin-right: 1rem;
}
